body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/35/64/03/356403006b837d5c82d02f8aefc958de.gif);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    color: #ffffff;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  #player, #enemy {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #0059ff;
    box-shadow: 1px 1px 10px #0059ff;
    border-radius: 5px;
  }
  
  #player button {
    margin: 5px;
  }
  
  #player-lives, #enemy-lives {
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
  }

  
  h1{
    text-align: center;
    font-family: system-ui, sans-serif;
    font-size: 3rem;
  }
  h1 span:first-child{
    color: #0059ff;
    margin: 0 20px;
  }
  h1 span:last-child{
    color: #ff0000;
    margin: 0 20px;
  }
  .gallery{
    display: grid;
    gap: 8px;
    width: calc(2 * 380px + 185px);
    grid-auto-flow: column;
  }
  .gallery > img{
    width: 0;
    min-width: calc(100% + 32px / 2);
    height: 360px;
    object-fit: cover;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    cursor: pointer;
    transition: .5s;
  }
  .gallery > img:hover{
    width: calc(360px / 2);
  }
  .gallery > img:first-child {
    place-self: start;
    clip-path: polygon(calc(2 * 32px) 0, 100% 0, 100% 100%, 0 100%);
    --mask: conic-gradient(from -135deg at right,rgba(5, 4, 4, 0),#000 1deg 89deg,#0000 90deg) 
            50%/100% calc(2 * 32px) repeat-y;
  }
  .gallery > img:last-child{
    place-self: end;
    clip-path: polygon(0 0,100% 0,calc(100% - 2 * 32px) 100%,0 100%);
    --mask: conic-gradient(from 45deg at left ,#0000,#000 1deg 89deg,#0000 90deg) 
            50% calc(50% - 32px)/100% calc(2 * 32px) repeat-y;
  }

  .wq{
    text-shadow: 1px 1px 10px rgb(78, 75, 64);
  }
  .qw{
    text-shadow: 1px 1px 10px white;
    box-shadow: 1px 1px 19px black;
  }  
  .da{
    color: white;
    text-shadow: 1px 1px 10px white;
  }